/* .container-Mouse .box{
    background-color: rgb(5, 84, 84);
    color: white;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 20px;
    padding: auto 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} */
body{
    background: rgb(3, 51, 61);
    color: rgb(233, 232, 232);
    
}
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Filas autoajustables para header y footer, y una fila flexible para el contenido principal y el pie de página */
    grid-template-columns: 1fr; /* En pantallas más pequeñas, solo una columna para todo el contenido */
    height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport */
  }
  
  header, nav, section, aside, footer {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  header, footer {
    grid-column: 1; /* El header y el footer ocupan una única columna */
  }
  
  nav {
    /* En pantallas más grandes, la navbar ocupa la primera columna */
    grid-column: 1;
  }
  
  section {
    /* En pantallas más grandes, el contenido principal ocupa la segunda columna */
    grid-column: 1;
  }
  
  aside {
    /* En pantallas más grandes, la barra lateral ocupa la tercera columna */
    grid-column: 1;
  }
  
  /* Media Query para pantallas con un ancho máximo de 700px */
  @media (max-width: 700px) {
    /* Cambiar a un diseño de dos columnas para el contenido principal y la barra lateral */
    grid-template-columns: 1fr 300px;
    
    /* Redefinir el orden de los elementos para que la barra lateral aparezca después del contenido principal */
    section {
      grid-column: 1;
      order: 1;
    }
    
    aside {
      grid-column: 2;
      order: 2;
    }
  }
  
  